img	{
	float: left;
	width: 30%;
	margin: 1.66%;
	height:300px;
}

p	{
	font-family: raleway;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
	margin-left: 1.66%;
	border-bottom: 3px solid #f1f1f1;
	width: 30%;
	padding-bottom: 25px;
}